<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="TemplateProvider\Attribute\Api\AttributeRepositoryInterface" type="TemplateProvider\Attribute\Model\AttributeRepository" />
    <preference for="TemplateProvider\Attribute\Api\Data\AttributeInterface" type="TemplateProvider\Attribute\Model\Attribute" />
</config>
